@model TrunkeyWebApp.Models.CumRap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CumRap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCumRap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCumRap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHeThongRapNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHeThongRapNavigation.MaHeThongRap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCumRap">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
