@model IEnumerable<TrunkeyWebApp.Models.CumRap>

@{
    ViewData["Title"] = "Cụm Rạp";
}

<h1>Cụm Rạp</h1>

<p>
    <a asp-action="Create" class="custom-btn btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCumRap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHeThongRapNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCumRap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHeThongRapNavigation.MaHeThongRap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCumRap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCumRap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCumRap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
