@model IEnumerable<TrunkeyWebApp.Models.Rap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenRap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaCumRapNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenRap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaCumRapNavigation.MaCumRap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaRap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaRap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaRap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
