@model IEnumerable<TrunkeyWebApp.Models.HeThongRap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHeThongRap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiDanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHeThongRap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiDanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHeThongRap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHeThongRap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHeThongRap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
