@model IEnumerable<TrunkeyWebApp.Models.LichChieu>

@{
    ViewData["Title"] = "Lịch Chiếu";
}

<h1>Lịch Chiếu</h1>

<p>
    <a asp-action="Create" class="custom-btn btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayChieuGioChieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhimNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaRapNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayChieuGioChieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhimNavigation.MaPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaRapNavigation.MaRap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLichChieu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLichChieu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLichChieu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
