@model IEnumerable<TrunkeyWebApp.Models.Banner>

@{
    ViewData["Title"] = "Banners";
}

<h1>Banners</h1>

<p>
    <a asp-action="Create" class="custom-btn btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhimNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhimNavigation.MaPhim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaBanner">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaBanner">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaBanner">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
