@model TrunkeyWebApp.Models.Ghe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ghe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SttGhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SttGhe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiGhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiGhe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLichChieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLichChieuNavigation.MaLichChieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKhoanNguoiDatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoanNguoiDatNavigation.TaiKhoan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaGhe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
